*.pdb
*.lib
*.idb
*.log
/libs/cpp/network/x64
/servers/.vs
servers/game/game.vcxproj.user
/servers/game/x64
libs/cpp/libraries/libraries.vcxproj.user
/libs/cpp/libraries/x64
/unit_test/x64
unit_test/unit_test.vcxproj.user
/servers/x64
/servers/common/x64
/libs/cpp/3rdparty/hiredis/build/.vs
/libs/cpp/3rdparty/hiredis/build/Debug
/libs/cpp/3rdparty/hiredis/build/hiredis.dir
/libs/cpp/3rdparty/hiredis/build/Release
/libs/cpp/3rdparty/hiredis/build/x64
/libs/cpp/3rdparty/hiredis/build/hiredis.vcxproj.user
*.exe
/scripts/flatbuffer/out
/servers/community/x64
/libs/cpp/3rdparty/flatbuffer/.vs
/libs/cpp/3rdparty/recastnavigation
/tables
/tools/TableExporter/bin/Debug
/tools/TableExporter/obj
/tools/TableExporter/.vs
/servers/ranking/obj
/servers/ranking/bin
/bin/Debug
/servers/web_common/obj
/tools/admin_tool/.vs
/tools/admin_tool/obj
/tools/table_exporter/bin/Debug
/tools/table_exporter/obj
/tools/table_exporter/.vs
/tools/AdminTool/.vs
/tools/AdminTool/obj
/tools/DeployTool/Manager/bin/Debug
/libs/csharp/Network/.vs
/tools/DeployTool/.vs
/libs/csharp/Network/obj
/libs/csharp/Libraries/obj
/tools/DeployTool/Manager/obj
/tools/DeployTool/Agent/obj
/tools/DeployTool/Protocol/obj
/tools/DeployTool/Agent/bin
/tools/DeployTool/Protocol/bin
/libs/csharp/Libraries/bin/Debug
/libs/csharp/Network/bin/Debug
/tools/DeployTool/bin/net8.0
/tools/DeployTool/Common/obj
/tools/DeployTool/AgentMock/obj
/tools/DeployTool/Manager/Upload
/tools/DeployTool/Common/bin
/libs/cpp/network/src
/libs/cpp/network/src
/servers/community/Community/x64
/servers/login/obj
/servers/queue/obj
/servers/queue/bin/Debug
/libs/cpp/libraries/Libraries/x64
/libs/cpp/network/Network/x64
/servers/common/Common/x64
/servers/game/Game/x64
/servers/world/bin/Debug
/servers/world/obj
/servers/bin/Debug
/servers/vcpkg_installed/vcpkg/blds
/servers/vcpkg_installed/vcpkg/pkgs
/servers/vcpkg_installed
/libs/cpp/vcpkg_installed/vcpkg
/libs/cpp/vcpkg_installed/x64-windows/bin
/libs/cpp/vcpkg_installed/x64-windows/debug
/libs/cpp/vcpkg_installed
