*.pdb
*.lib
*.idb
*.log
/libs/cpp/network/x64
/servers/.vs
servers/game/game.vcxproj.user
/servers/game/x64
libs/cpp/libraries/libraries.vcxproj.user
/libs/cpp/libraries/x64
/unit_test/x64
unit_test/unit_test.vcxproj.user
